*{
    margin: 0;
    padding: 0;

}
.nav {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    padding: 30px;
    text-align: center;
}
